HF_TOKEN=YOUR_HUGGING_FACE_TOKEN
HF_REPO_ID=bluerRose/attica-traffic-datalake # your hugging face repo
MOTHERDUCK_TOKEN=YOUR_MOTHERDUCK_TOKEN
DAGSHUB_TOKEN = YOUR_DAGSHUB_TOKEN
DAGSHUB_USERNAME = vtsilidis # your DAGSHUB username
DAGSHUB_REPO = # your DAGSHUB username