# HuggingFace: local, github
HF_TOKEN=YOUR_HF_TOKEN
HF_REPO_ID=YOUR_HF_REPO_ID
# mothderduck: local, github, .streamlit/secrets.toml, streamlitcloud
MOTHERDUCK_TOKEN=YOUR_MOTHERDUCK_TOKEN

#dagshub: local, huggingface spaces, github, .streamlit/secrets.toml, streamlitcloud (only username and repo)
DAGSHUB_TOKEN=YOUR_DAGSHUB_TOKEN
DAGSHUB_USERNAME=YOUR_DAGSHUB_USERNAME
DAGSHUB_REPO=YOUR_DAGSHUB_REPO
# Huggingface spaces: github
HF_SPACES_TOKEN=YOUR_HF_SPACES_TOKEN
# discord_webhook: github
DISCORD_WEBHOOK=YOUR_DISCORD_WEBHOOK